<div class="container-fluid">
    <div class="in-middle">
        <b><h4>Search the albums of your favorite artists!!!</h4></b>
    </div>
    <div class="container-text">
        <p class="content">iTunes Search Application is an application so you can find information about artists, it includes:</p>
        <ul>
            <li>Album Name</li>
            <li>Album's Artwork</li>
            <li>Artist Name</li>
            <li>Album Price</li>
        </ul>
        <p class="info">All the information is retrieved from the iTunes Search API</p>
    </div>
</div>