<div class="container-fluid">
    <div class="in-middle">
        <b><p class="blocktext">Search the albums of your favorite artists!!!</p></b>
    </div>
    <div class="container-text">
        <p>iTunes Search Application is an application so you can find information about artists, it includes: </p>
        <ul>
            <li>Album Name</li>
            <li>Album's Artwork</li>
            <li>Artist Name</li>
            <li>Album Price</li>
        </ul>
        <p>All the information is retrieved from the iTunes Search API</p>
    </div>
</div>